<!-- <div style="border: 1px solid red; width:38px; height: 39px; background-image: url('/pins/ActiveSpot.png');">
    $99
</div>   -->

<!-- <div style="border: 1px solid red; display: table; height: 38px; width: 39px; text-align: center; overflow: hidden;">
  <img style="display: table-cell; vertical-align: middle;" src="/pins/ActiveSpot.png">
    <div>
      99$
    </div>
    </img>
</div> -->

<div style="position: relative;height: 38px; width: 39px;border: 1px solid red;"> <img style="height: 38px; width: 39px;" src="pins/ActiveSpot.png" alt="Active Spot"> <div style="position: absolute; top: 18%; width: 75%; text-align: center; color:white; font-family: sans-serif;">$99</div> </div>